/NetBeansTest/nbproject/private/
/NetBeansTest/build/
/Ficha1Ex1/nbproject/private/
/Ficha1Ex1/build/
/Ficha1Ex2/nbproject/private/
/Ficha1Ex2/build/
/Ficha1Ex5/nbproject/private/
/Ficha1Ex5/build/
/Ficha2Ex1/nbproject/private/
/Ficha2Ex1/build/
/Ficha2Ex2/nbproject/private/
/Ficha2Ex2/build/
/Ficha3Ex4/nbproject/private/
/Ficha3Ex4/build/
/Ficha3Ex5/nbproject/private/
/Ficha3Ex5/build/
/Ficha3Ex6/nbproject/private/
/Ficha3Ex6/build/
/Ficha3Ex7/nbproject/private/
/Ficha3Ex7/build/
/Ficha3Ex8/nbproject/private/
/Ficha3Ex8/build/
/Ficha4Ex1/nbproject/private/
/Ficha4Ex1/build/
/Ficha5Ex1/nbproject/private/
/Ficha5Ex1/build/
/Ficha5Ex1/dist/
/Ficha5Ex2/nbproject/private/
/Ficha5Ex2/build/
/Ficha7Ex1/nbproject/private/
/Ficha7Ex1/build/
/pp_fp08/nbproject/private/
/pp_fp08/build/
/Trabalho2/Recursos_e_exemplos_MA02v2/nbproject/private/