/NetBeansTest/nbproject/private/
/NetBeansTest/build/
/Ficha1Ex1/nbproject/private/
/Ficha1Ex1/build/
/Ficha1Ex2/nbproject/private/
/Ficha1Ex2/build/
/Ficha1Ex5/nbproject/private/
/Ficha1Ex5/build/
/Ficha2Ex1/nbproject/private/
/Ficha2Ex1/build/
/Ficha2Ex2/nbproject/private/
/Ficha2Ex2/build/